@using Licenta_v1.Services
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Licenta_v1.Models.Vehicle>
@{
    ViewBag.Title = "Vehicles";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<h2 class="text-center">Vehicles</h2>
<br />

<div class="card shadow-sm p-3 mb-4" id="light-blue-elements-background-id">
    <form method="get" class="row g-3 align-items-center">
        <!-- Filtrare dupa regiuni -->
        <div class="col-12 col-md-auto">
            <button type="submit" class="btn btn-primary w-100">Filter</button>
        </div>

        <!-- Bara de cautare -->
        <div class="col-12 col-md">
            <input type="text" name="searchString" value="@ViewBag.SearchString"
                   class="form-control"
                   placeholder="Search by Registration, Brand or Model" />
        </div>

        <!-- Sortare dupa model, brand sau nr inmatriculare -->
		<div class="col-md-3 col-sm-6">
			<select class="form-select" name="sortOrder">
				<option value="brand" selected="@(ViewBag.CurrentSort == "brand" ? "selected" : "")">Brand (Ascending)</option>
				<option value="brand_desc" selected="@(ViewBag.CurrentSort == "brand_desc" ? "selected" : "")">Brand (Descending)</option>
				<option value="model" selected="@(ViewBag.CurrentSort == "model" ? "selected" : "")">Model (Ascending)</option>
				<option value="model_desc" selected="@(ViewBag.CurrentSort == "model_desc" ? "selected" : "")">Model (Descending)</option>
				<option value="registration" selected="@(ViewBag.CurrentSort == "registration" ? "selected" : "")">Registration (Ascending)</option>
				<option value="registration_desc" selected="@(ViewBag.CurrentSort == "registration_desc" ? "selected" : "")">Registration (Descending)</option>
				<option value="" selected="@(string.IsNullOrEmpty(ViewBag.CurrentSort) ? "selected" : "")">Sort by</option>
			</select>
		</div>

        <!-- Dropdown cu regiuni -->
        <div class="col-md-3 col-sm-6">
            @Html.DropDownList("regionId",
                     new SelectList(ViewBag.Regions as List<SelectListItem>, "Value", "Text", ViewBag.RegionId?.ToString() ?? "0"),
                     new { @class = "form-select" })
        </div>

        <!-- Buton de adaugat masini -->
        <div class="col-12 col-md-auto">
            <a class="btn btn-primary w-100" asp-area="" asp-controller="Vehicles" asp-action="Create">Add Vehicle</a>
        </div>
    </form>
</div>

<!-- Carduri pt masini -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var vehicle in Model)
    {
        <div class="col">
            <div class="card h-100 text-center" style="min-height: 450px;" id="light-blue-elements-background-id">
                <div style="height: 300px; overflow: hidden;">
                    <img src="@(Url.Content("~/" + (vehicle.ImagePath ?? "Images/VehicleDefault.jpg")))"
                         class="card-img-top img-fluid"
                         alt="Vehicle Photo"
                         style="height: 300px; width: 100%; object-fit: cover;">
                </div>

                <div class="card-body">
                    <h4 class="card-title">@vehicle.Brand @vehicle.Model</h4>
                    <p class="card-text">
                        <strong>Registration:</strong> @vehicle.RegistrationNumber<br />
                        <strong>Region:</strong> @(vehicle.Region?.County ?? "N/A")<br />
                        <strong>Year:</strong> @vehicle.YearOfManufacture<br />
                        <strong>Status: </strong><span class="@GetStatusClass((VehicleStatus)vehicle.Status)">@vehicle.Status.ToString()</span><br />
                    </p>
                </div>

                <div class="card-footer">
                    <div class="d-flex justify-content-center">
                        <a asp-action="Show" asp-route-id="@vehicle.Id" class="btn btn-primary btn-sm mb-2 mx-2">View</a>
                        <a asp-action="VehicleMaintenances" asp-controller="Maintenances" asp-route-vehicleId="@vehicle.Id" class="btn btn-primary btn-sm mb-2 mx-2">
                            View Maintenances
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<br />

<!-- Paginare -->
<nav>
    <ul class="pagination justify-content-center">
        @{
            int totalPages = ViewBag.TotalPages;
            int pageNumber = ViewBag.PageNumber;
            string query = $"&searchString={ViewBag.SearchString}&regionId={ViewBag.RegionId}&sortOrder={ViewBag.CurrentSort}";

            // Afisez o pagina la inceput, una la final si una la stanga si/sau dreapta celei curente
            int range = 1;
            int startPage = Math.Max(1, pageNumber - range);
            int endPage = Math.Min(totalPages, pageNumber + range);
        }

        <!-- Previous -->
        <li class="page-item @(pageNumber == 1 ? "disabled" : "")">
            <a class="page-link" href="?pageNumber=@(pageNumber - 1)@query" tabindex="-1">Previous</a>
        </li>

        <!-- Arat mereu prima pagina -->
        @if (startPage > 1)
        {
            <li class="page-item @(pageNumber == 1 ? "active" : "")">
                <a class="page-link" href="?pageNumber=1@query">1</a>
            </li>

            <!-- Pun ... daca e spatiu prea mare intre pagini -->
            @if (startPage > 2)
            {
                <li class="page-item disabled"><span class="page-link">...</span></li>
            }
        }

        <!-- Arat range-ul pentru pagini -->
        @for (int i = startPage; i <= endPage; i++)
        {
            <li class="page-item @(i == pageNumber ? "active" : "")">
                <a class="page-link" href="?pageNumber=@i@query">@i</a>
            </li>
        }

        <!-- Arat mereu ultima pagina -->
        @if (endPage < totalPages)
        {
            <!-- Pun ... daca e spatiu prea mare intre pagini -->
            @if (endPage < totalPages - 1)
            {
                <li class="page-item disabled"><span class="page-link">...</span></li>
            }

            <li class="page-item @(pageNumber == totalPages ? "active" : "")">
                <a class="page-link" href="?pageNumber=@totalPages@query">@totalPages</a>
            </li>
        }

        <!-- Next -->
        <li class="page-item @(pageNumber == totalPages ? "disabled" : "")">
            <a class="page-link" href="?pageNumber=@(pageNumber + 1)@query">Next</a>
        </li>
    </ul>
</nav>

@functions {
    public string GetStatusClass(VehicleStatus status)
    {
        return status switch
        {
            VehicleStatus.Available => "text-success",      // Verde - Available
            VehicleStatus.Busy => "text-warning",           // Galben - Busy
            VehicleStatus.Maintenance => "text-primary",    // Albastru - Maintenance
            VehicleStatus.Retired => "text-danger",         // Rosu - Retired
            _ => throw new InvalidOperationException("Unexpected status value.") // Nu vom ajunge aici, dar totusi
        };
    }
}