@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Licenta_v1</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Licenta_v1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Meniu pt PC -->
        <nav class="navbar navbar-expand-sm navbar-light bg-primary mb-3" style="border-bottom: 2px solid black; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
            <div class="container-fluid">
                <!-- Toggler pt meniu mic -->
                <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Login, Register, Logout sa ramana in afara si pt ecrane mai mici -->
                <div class="d-block d-sm-none ms-auto">
                    <partial name="_LoginPartial" />
                </div>

                <div class="d-none d-sm-flex justify-content-between align-items-center w-100">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="bi bi-house-fill fs-6"></i>
                            </a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="dropdown-wrapper">
                                <button class="dropdown-toggle-btn">Users</button>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "Users")">All Users</a></li>
                                    <li><a href="@Url.Action("IndexDispatchers", "Users")">Dispatchers</a></li>
                                    <li><a href="@Url.Action("IndexDrivers", "Users")">Drivers</a></li>
                                    <li><a href="@Url.Action("IndexClients", "Users")">Clients</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-wrapper">
                                <button class="dropdown-toggle-btn">Fleet</button>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "Vehicles")">Vehicles</a></li>
                                    <li><a href="@Url.Action("Index", "Headquarters")">Headquarters</a></li>
                                    <li><a href="@Url.Action("Index", "Maintenances")">Maintenances</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-wrapper">
                                <button class="dropdown-toggle-btn">Packages</button>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "Orders")">Orders</a></li>
                                    <li><a href="@Url.Action("Index", "Deliveries")">Deliveries</a></li>
                                    <li><a href="@Url.Action("Index", "Feedbacks")">Feedbacks</a></li>
                                </ul>
                            </div>
                        }
                        @if (User.IsInRole("Dispecer"))
                        {
                            var dispatcherId = UserManager.GetUserId(User);
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Users" asp-action="ShowDriversOfDispatcher" asp-route-id="@dispatcherId">
                                    My Drivers
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Users" asp-action="ShowVehiclesOfDispatcher" asp-route-id="@dispatcherId">
                                    My Vehicles
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Deliveries" asp-action="Index">
                                    Deliveries
                                </a>
                            </li>
                        }
						@if (User.IsInRole("Sofer"))
						{
							var driverId = UserManager.GetUserId(User);
							<li class="nav-item">
								<a class="nav-link text-light" asp-area="" asp-controller="Deliveries" asp-action="ShowDeliveriesOfDriver" asp-route-id="@driverId">
									My Deliveries
								</a>
							</li>
						}
                        @if (User.IsInRole("Client"))
                        {
							var clientId = UserManager.GetUserId(User);
                            <li class="nav-item">
								<a class="nav-link text-light" asp-area="" asp-controller="Orders" asp-action="Create" asp-route-id="@clientId">
									Place Order
								</a>
                            </li>
							<li class="nav-item">
								<a class="nav-link text-light" asp-area="" asp-controller="Orders" asp-action="Index">
									My Orders
								</a>
							</li>
                        }
                    </ul>
                    <div class="ms-auto">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Meniu pt ecrane mici -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
        <div class="offcanvas-header bg-primary" style="border-bottom: 2px solid black;">
            <h5 class="offcanvas-title text-light fw-bold" id="offcanvasMenuLabel">Menu</h5>
            <button type="button" class="btn-close text-reset custom-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0" style="background-color: #c9e3ff">
            <ul class="navbar-nav">
                <li class="nav-item" style="border-bottom: 1px solid black;">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home Page</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item" style="border-bottom: 1px solid black;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">
                            Users
                        </a>
                    </li>
                    <li class="nav-item" style="border-bottom: 1px solid black;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="IndexDispatchers">
                            Dispatchers
                        </a>
                    </li>
                    <li class="nav-item" style="border-bottom: 1px solid black;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="IndexDrivers">
                            Drivers
                        </a>
                    </li>
                    <li class="nav-item" style="border-bottom: 1px solid black;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="IndexClients">
                            Clients
                        </a>
                    </li>
                    <li class="nav-item" style="border-bottom: 1px solid black;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Vehicles" asp-action="Index">
                            Vehicles
                        </a>
                    </li>
                    <li class="nav-item" style="border-bottom: 1px solid black;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Headquarters" asp-action="Index">
                            Headquarters
                        </a>
                    </li>
                    <li class="nav-item" style="border-bottom: 1px solid black;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">
                            Orders
                        </a>
                    </li>
                    <li class="nav-item" style="border-bottom: 1px solid black;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Maintenances" asp-action="Index">
                            Maintenances
                        </a>
                    </li>
                    <li class="nav-item" style="border-bottom: 1px solid black;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Deliveries" asp-action="Index">
                            Deliveries
                        </a>
                    </li>
                }
                @if (User.IsInRole("Dispecer"))
                {
                    var dispatcherId = UserManager.GetUserId(User);
                    <li class="nav-item" style="border-bottom: 1px solid black;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="ShowDriversOfDispatcher" asp-route-id="@dispatcherId">
                            My Drivers
                        </a>
                    </li>
                    <li class="nav-item" style="border-bottom: 1px solid black;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="ShowVehiclesOfDispatcher" asp-route-id="@dispatcherId">
                            My Vehicles
                        </a>
                    </li>
                }
                @if (User.IsInRole("Sofer"))
                {
                    var driverId = UserManager.GetUserId(User);
                    <li class="nav-item" style="border-bottom: 1px solid black;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Deliveries" asp-action="Index" asp-route-id="@driverId">
                            My Deliveries
                        </a>
                    </li>
                }
                @if (User.IsInRole("Client"))
                {
                    var clientId = UserManager.GetUserId(User);
                    <li class="nav-item" style="border-bottom: 1px solid black;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Create" asp-route-id="@clientId">
                            Place Order
                        </a>
                    </li>
                    <li class="nav-item" style="border-bottom: 1px solid black;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">
                            My Orders
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-primary">
        <div class="container-fluid text-start text-light" style="border-top: 2px solid black;">
            &copy; 2024 - EcoDelivery
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
