@page
@model Licenta_v1.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2 class="text-center mt-5">@ViewData["Title"]</h2>
<br />

@if (TempData["Success"] != null)
{
	<div class="alert alert-success">@TempData["Success"]</div>
}

@if (TempData["Error"] != null)
{
	<div class="alert alert-danger">@TempData["Error"]</div>
}

<div asp-validation-summary="All" class="text-danger"></div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="~/js/map.js"></script>

<form method="post">
    <div class="form-group">
        @Html.LabelFor(m => m.Input.UserName)
        @Html.EditorFor(m => m.Input.UserName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Input.UserName, null, new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(m => m.Input.FirstName)
        @Html.EditorFor(m => m.Input.FirstName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Input.FirstName, null, new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(m => m.Input.LastName)
        @Html.EditorFor(m => m.Input.LastName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Input.LastName, null, new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(m => m.Input.HomeAddress)
        @Html.EditorFor(m => m.Input.HomeAddress, new { htmlAttributes = new { @class = "form-control", id = "homeAddress" } })
        @Html.ValidationMessageFor(m => m.Input.HomeAddress, null, new { @class = "text-danger" })
    </div>

    <div id="map" style="height: 400px; margin-bottom: 20px;"></div>
    <br />

    <input type="hidden" id="latitude" asp-for="Input.Latitude" />
    <input type="hidden" id="longitude" asp-for="Input.Longitude" />

    <div class="form-group">
        @Html.LabelFor(m => m.Input.Email)
        @Html.EditorFor(m => m.Input.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Input.Email, null, new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(m => m.Input.PhoneNumber)
        @Html.EditorFor(m => m.Input.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Input.PhoneNumber, null, new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(m => m.Input.RegionId)
        @Html.DropDownListFor(m => m.Input.RegionId, new SelectList(Model.Regions, "Value", "Text"), "Select Region", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Input.RegionId, null, new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(m => m.Input.Password)
        @Html.PasswordFor(m => m.Input.Password, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Input.Password, null, new { @class = "text-danger" })
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(m => m.Input.ConfirmPassword)
        @Html.PasswordFor(m => m.Input.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Input.ConfirmPassword, null, new { @class = "text-danger" })
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Register</button>
</form>
