@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Licenta_v1.Models.Order
@{
    ViewBag.Title = "Create Order";
}

@if (TempData["Error"] != null)
{
	<div class="alert alert-danger" role="alert">
		@TempData["Error"]
	</div>
}

@if (TempData["Success"] != null)
{
	<div class="alert alert-success" role="alert">
		@TempData["Success"]
	</div>
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="~/js/map_create_order.js"></script>

<h2 class="text-center">@ViewBag.Title</h2>
<br />

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Priority"></label>
        <select asp-for="Priority" class="form-control">
            <option value="">Select Priority</option>
            <option value="Normal">Normal</option>
            <option value="High">High</option>
        </select>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Weight"></label>
        <input asp-for="Weight" class="form-control" />
        <span asp-validation-for="Weight" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Volume"></label>
        <input asp-for="Volume" class="form-control" />
        <span asp-validation-for="Volume" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" id="address" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Latitude"></label>
        <input asp-for="Latitude" class="form-control" id="latitude" />
        <span asp-validation-for="Latitude" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Longitude"></label>
        <input asp-for="Longitude" class="form-control" id="longitude" />
        <span asp-validation-for="Longitude" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Region"></label>
        <select asp-for="RegionId" class="form-control" id="region" asp-items="ViewBag.RegionId">
            <option value="">Select Region</option>
        </select>
        <span asp-validation-for="RegionId" class="text-danger"></span>
    </div>

    <div id="map" style="height: 400px; margin-bottom: 20px;"></div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>