@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Licenta_v1.Models.Order>
@{
    ViewBag.Title = "Orders";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<h2 class="text-center">@ViewBag.Title</h2>
<br />

<div class="card shadow-sm p-3 mb-4" id="light-blue-elements-background-id">
    <form method="get" class="row g-3 align-items-center">
        <!-- Filtrare dupa regiuni -->
        <div class="col-12 col-md-auto">
            <button type="submit" class="btn btn-primary w-100">Filter</button>
        </div>

        <!-- Bara de cautare -->
        <div class="col-12 col-md">
            <input type="text" name="searchString" value="@ViewBag.SearchString"
                   class="form-control"
                   placeholder="Search Orders" />
        </div>

        <!-- Sortare dupa dupa numele clientului, prioritate, greutate, volum, adresa, status, data plasarii -->
        <div class="col-md-3 col-sm-6">
            <select class="form-select" name="sortOrder">
                <option value="client" selected="@(ViewBag.CurrentSort == "client" ? "selected" : "")">Client Userame (Ascending)</option>
                <option value="client_desc" selected="@(ViewBag.CurrentSort == "client_desc" ? "selected" : "")">Client Userame (Descending)</option>
				<option value="priority" selected="@(ViewBag.CurrentSort == "priority" ? "selected" : "")">Priority (Ascending)</option>
				<option value="priority_desc" selected="@(ViewBag.CurrentSort == "priority_desc" ? "selected" : "")">Priority (Descending)</option>
				<option value="weight" selected="@(ViewBag.CurrentSort == "weight" ? "selected" : "")">Weight (Ascending)</option>
				<option value="weight_desc" selected="@(ViewBag.CurrentSort == "weight_desc" ? "selected" : "")">Weight (Descending)</option>
				<option value="volume" selected="@(ViewBag.CurrentSort == "volume" ? "selected" : "")">Volume (Ascending)</option>
				<option value="volume_desc" selected="@(ViewBag.CurrentSort == "volume_desc" ? "selected" : "")">Volume (Descending)</option>
				<option value="address" selected="@(ViewBag.CurrentSort == "address" ? "selected" : "")">Address (Ascending)</option>
				<option value="address_desc" selected="@(ViewBag.CurrentSort == "address_desc" ? "selected" : "")">Address (Descending)</option>
				<option value="status" selected="@(ViewBag.CurrentSort == "status" ? "selected" : "")">Status (Ascending)</option>
				<option value="status_desc" selected="@(ViewBag.CurrentSort == "status_desc" ? "selected" : "")">Status (Descending)</option>
                <option value="placedDate" selected="@(ViewBag.CurrentSort == "placedDate" ? "selected" : "")">Placement Date (Ascending)</option>
                <option value="placedDate_desc" selected="@(ViewBag.CurrentSort == "placedDate_desc" ? "selected" : "")">Placement Date (Descending)</option>
            </select>
        </div>

        <!-- Dropdown cu regiuni -->
        <div class="col-md-3 col-sm-6">
            @Html.DropDownList("regionId",
                     ViewBag.Regions as SelectList,
                     "All Regions",
                     new { @class = "form-select" })
        </div>
    </form>
</div>

<!-- Carduri pt comenzi -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var order in Model)
    {
        <div class="col">
            <div class="card h-100 text-center" style="min-height: 350px;" id="light-blue-elements-background-id">
                <div class="card-body">
                    <h5 class="card-title">Order ID: @order.Id</h5>
                    <p class="card-text">
                        <strong>Client:</strong> @order.Client?.UserName<br />
                        <strong>Address:</strong> @order.Address<br />
                        <strong>Priority:</strong>
                        <span style="color: @(order.Priority.ToString() == "High" ? "red" : "grey")">
                            @order.Priority.ToString()
                        </span><br />
                        <strong>Weight:</strong> @order.Weight kg<br />
                        <strong>Volume:</strong> @order.Volume m³<br />
                        <strong>Status:</strong>
                        <span style="color: @(order.Status.ToString() == "Placed" ? "blue" : order.Status.ToString() == "InProgress" ? "orange" : "#006400")">
                            @(order.Status.ToString() == "InProgress" ? "In Progress" : order.Status.ToString())
                        </span><br />
                        <strong>Date Placed:</strong> @order.PlacedDate.ToString("d MMM yyyy")
                    </p>
                </div>

                <div class="card-footer">
                    <div class="d-flex justify-content-center">
                        <a asp-action="Show" asp-route-id="@order.Id" class="btn btn-primary btn-sm mb-2 mx-2">View</a>

                        @if (order.Status == Licenta_v1.Services.OrderStatus.Delivered &&
                             order.Delivery?.DriverId != null &&
                             order.ClientId == ViewBag.CurrentUserId &&
                             order.Feedback == null)
                        {
                            <a asp-action="GiveFeedback" asp-controller="Feedbacks"
                               asp-route-driverId="@order.Delivery.DriverId"
                               asp-route-orderId="@order.Id"
                               class="btn btn-primary btn-sm mb-2 mx-2">
                                ⭐ Rate Driver
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<br />

<!-- Paginare -->
<nav>
    <ul class="pagination justify-content-center">
        @{
            int totalPages = ViewBag.TotalPages;
            int pageNumber = ViewBag.PageNumber;
            string query = $"&searchString={ViewBag.SearchString}&regionId={ViewBag.RegionId}&sortOrder={ViewBag.CurrentSort}";

            // Afisez o pagina la inceput, una la final si una la stanga si/sau dreapta celei curente
            int range = 1;
            int startPage = Math.Max(1, pageNumber - range);
            int endPage = Math.Min(totalPages, pageNumber + range);
        }

        <!-- Previous -->
        <li class="page-item @(pageNumber == 1 ? "disabled" : "")">
            <a class="page-link" href="?pageNumber=@(pageNumber - 1)@query" tabindex="-1">Previous</a>
        </li>

        <!-- Arat mereu prima pagina -->
        @if (startPage > 1)
        {
            <li class="page-item @(pageNumber == 1 ? "active" : "")">
                <a class="page-link" href="?pageNumber=1@query">1</a>
            </li>

            <!-- Pun ... daca e spatiu prea mare intre pagini -->
            @if (startPage > 2)
            {
                <li class="page-item disabled"><span class="page-link">...</span></li>
            }
        }

        <!-- Arat range-ul pentru pagini -->
        @for (int i = startPage; i <= endPage; i++)
        {
            <li class="page-item @(i == pageNumber ? "active" : "")">
                <a class="page-link" href="?pageNumber=@i@query">@i</a>
            </li>
        }

        <!-- Arat mereu ultima pagina -->
        @if (endPage < totalPages)
        {
            <!-- Pun ... daca e spatiu prea mare intre pagini -->
            @if (endPage < totalPages - 1)
            {
                <li class="page-item disabled"><span class="page-link">...</span></li>
            }

            <li class="page-item @(pageNumber == totalPages ? "active" : "")">
                <a class="page-link" href="?pageNumber=@totalPages@query">@totalPages</a>
            </li>
        }

        <!-- Next -->
        <li class="page-item @(pageNumber == totalPages ? "disabled" : "")">
            <a class="page-link" href="?pageNumber=@(pageNumber + 1)@query">Next</a>
        </li>
    </ul>
</nav>