@model Licenta_v1.Models.ApplicationUser
@{
    ViewBag.Title = "Edit Your Profile";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="~/js/map.js"></script>

<h2 class="text-center mt-5">@ViewBag.Title</h2>
<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
            @using (Html.BeginForm("EditMyself", "Users", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, "User Name")
                    @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })
                </div>
                <br />

                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, "First Name")
                    @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "text-danger" })
                </div>
                <br />

                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, "Last Name")
                    @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "text-danger" })
                </div>
                <br />

                <div class="form-group">
                    <label for="homeAddress">Home Address</label>
                    <small class="text-muted d-block mb-2">
                        Please choose the address by dragging the marker on the map below.
                    </small>
                    @Html.EditorFor(m => m.HomeAddress, new { htmlAttributes = new { @class = "form-control", id = "homeAddress" } })
                    @Html.ValidationMessageFor(m => m.HomeAddress, null, new { @class = "text-danger" })
                </div>

                <div id="map" style="height: 400px; margin-bottom: 20px;"></div>
                <br />

                <input type="hidden" id="latitude" asp-for="Latitude" value="@ViewBag.Latitude" />
                <input type="hidden" id="longitude" asp-for="Longitude" value="@ViewBag.Longitude" />

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, "Email")
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                </div>
                <br />

                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, "Phone Number")
                    @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "text-danger" })
                </div>
                <br />

                <button class="btn btn-sm btn-success" type="submit">Save Changes</button>
            }
        </div>
    </div>
</div>