@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Licenta_v1.Models.ApplicationUser
@{
    ViewBag.Title = "Edit User";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="~/js/map.js"></script>

<h2 class="text-center mt-5">@ViewBag.Title</h2>
<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
            @using (Html.BeginForm(actionName: "Edit", controllerName: "Users", method: FormMethod.Post, routeValues: new { id = Model.Id }))
            {
                @Html.AntiForgeryToken()

                @Html.LabelFor(model => model.UserName, "User Name")
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
                <br />

                @Html.LabelFor(model => model.FirstName, "First Name")
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text-danger" })
                <br />

                @Html.LabelFor(model => model.LastName, "Last Name")
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "text-danger" })
                <br />

                <div class="form-group">
                    @Html.LabelFor(m => m.HomeAddress)
                    @Html.EditorFor(m => m.HomeAddress, new { htmlAttributes = new { @class = "form-control", id = "homeAddress" } })
                    @Html.ValidationMessageFor(m => m.HomeAddress, null, new { @class = "text-danger" })
                </div>

                <div id="map" style="height: 400px; margin-bottom: 20px;"></div>
                <br />

                <input type="hidden" id="latitude" asp-for="Latitude" value="@ViewBag.Latitude" />
                <input type="hidden" id="longitude" asp-for="Longitude" value="@ViewBag.Longitude" />
				<br />

                @Html.LabelFor(model => model.Email, "Email")
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                <br />

                @Html.LabelFor(model => model.PhoneNumber, "Phone Number")
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "text-danger" })
                <br />

                @Html.Label("Region", "Region")
                @Html.DropDownListFor(m => m.RegionId,
                         ViewBag.Regions as IEnumerable<SelectListItem> ?? Enumerable.Empty<SelectListItem>(),
                         "Select Region", 
                         new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RegionId, null, new { @class = "text-danger" })
                <br />

                <div class="form-group">
                    @Html.Label("Role", "Role")
                    @Html.DropDownList("newRole",
                            ViewBag.AllRoles as IEnumerable<SelectListItem> ?? Enumerable.Empty<SelectListItem>(),
                            "Select Role",
                            new { @class = "form-control" })
                    @Html.ValidationMessage("newRole", null, new { @class = "text-danger" })
                </div>
                <br />

                @Html.LabelFor(model => model.DateHired, "Date Joined")
                <input asp-for="DateHired" type="date" class="form-control" value="@Model.DateHired.ToString("yyyy-MM-dd")" />
                @Html.ValidationMessageFor(model => model.DateHired, null, new { @class = "text-danger" })
                <br />

                <button class="btn btn-sm btn-success" type="submit">Save Changes</button>
            }
        </div>
    </div>
</div>